STRIPE_PUBLISHABLE_KEY=pk_test_51Or8dM07hasgEqEzq4kounPHT3mnEJjg4POoir72ATgLee1BosOXAbxZfRIHbqmFvbNcqkALLpXEn3rlAsBFgoky0062wXogA5VDtbf
STRIPE_SECRET_KEY=sk_test_51Or8dM07hasgEqEzWZ1TM1uYcrBxk6ntqXQ6nE5aKrz3mjoypZirkKCwvRSlMiNgkU5UkYziC0WUQ4ID5lDiY1Hd00agJDwlGg