body {
    font-family: Arial, sans-serif;
}

#productos {
    display: flex;
    justify-content: space-around;
}

.producto {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}

#carrito {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    border-left: 1px solid #000;
    padding: 10px;
}
