body{
    background-color: #f0f0f0;
}

.reto01 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    font-size: 2.5em;
    text-decoration: underline;
}
button{
    width: 300px;
    height: 40px;
    margin: 1em;
    background-color: papayawhip;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
button:hover{
    background-color: #ffcc80; /* Cambia el color al pasar el cursor */
    transform: translateY(-2px)
}
h1 {
    font-size: 3em;
}